<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This will allow you to operate garage doors</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This will allow you to operate garage doors</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app optionally uses your location but is not required to operate garage doors.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
	</array>
</dict>
</plist>